nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 0;
  padding-block: 24px;
}

#primary-menu {
  display: flex;
  align-items: center;
  gap: 24px;
  padding-block:8px ;


}

#primary-menu li:last-child img {
  width: 40px;
  height: 40px;
  
}

